
.icon-cog-outline:before { content: '\e800'; } /* '' */
.icon-info-outline:before { content: '\e801'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-codeopen:before { content: '\f1cb'; } /* '' */